<div class="search-bar">
  <%= image_tag("//files.jf-cms.co.uk/cocktailmaker/media/logo-white.svg", width: '500')%>

  <div class="d-flex mt-4">
      <input type="text" class="form-control mr-2" placeholder="Search your cocktails..." aria-label="City">
      <%= link_to "Search", cocktails_path, class: "btn btn-info" %>
  </div>

</div>