// Specific CSS for your home-page

body {
    background-image: url("https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    
}

.search-bar {
    
    position: relative;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    width: 40%;
    height: 40px;
	
}

#container-search-main{
    top: 20rem;
    left: 40rem;
}

.btn-search {
    position: absolute;
    left: 32rem;
    bottom: 1rem;


}

a {
    color: orange;
}




.card-index {
    margin-top: 20px;
    max-width: 300px;
}


